.button {
    color: black;
    font-weight: bold;
    display: inline-block;
    background-color: yellow;
    border-radius: 10px;
    padding: 10px;
    cursor: default;
}
.button:hover {
    color: blue;
    background-color: red;
}