<!DOCTYPE html>
<html>
  <head>
    <title>レストラン検索</title>
    <link href="static/css/reset.css" rel="stylesheet" type="text/css" >
    <link href = "static/css/style.css" rel = "stylesheet" type = "text/css">
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">
  </head>
  <body>
    <div class = "title">
      <h1>現在地付近のレストランを検索</h1>
    </div>
    
    <div class = "button" onclick="getPosition()"><span class = "fa fa-map-marker"></span> 現在地を取得</div>
    <form action="/search" method="post">
      <div class = "latlng">
        <label>緯度:</label><input type="text" name="latitude" id="latitude"><br>
        <label>経度:</label><input type="text" name="longitude" id="longitude"><br>
        <a id = "map" href = "" target = "_blank">googlemapを表示</a>
      </div>
      
      <div class = "searchrange">
        <label for="ranges">検索範囲</label>
        <select name = "selran" id = "imm">
          <option value="1">300m</option>
          <option value="2">500m</option>
          <option value="3">1000m </option>
          <option value="4">2000m </option>
          <option value="5">3000m </option>
        </select>      
        <input type="submit" value="レストランを検索">
      </div>
      
    </form>
    

    <script>
      function getPosition(){
        // Geolocation APIを使用して現在地の緯度・経度を取得
        let latitude = document.getElementById('latitude');
        let longitude = document.getElementById('longitude');
        let map = document.getElementById('map');

        navigator.geolocation.getCurrentPosition(function(position) {
          latitude.value = position.coords.latitude;
          longitude.value = position.coords.longitude;

          map.setAttribute('href', `https://www.google.co.jp/maps/@${position.coords.latitude},${position.coords.longitude},15z`);
        });
      }
    </script>
  </body>
</html>